version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: daily

  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: 'monday'
      time: '10:00'
      timezone: 'America/Detroit'
    labels:
      - 'dependencies'
