/coverage
/node_modules
.ds_store
*.log
.env
.env.development
.env.test
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache

/.cache
/build
/public/build
/app/components/heroicons
/app/routes.d.ts

/.husky/_
