save-exact=true
save-prefix=
version-git-message=%s
version-tag-prefix=

# Swap out "<Remix License Key>" below with the key you get from logging in
# to https://remix.run. If this is a public repo, you'll want to move this
# line into ~/.npmrc to keep it private.
//npm.remix.run/:_authToken=${REMIX_REGISTRY_TOKEN}

# This line tells npm where to find @remix-run packages.
@remix-run:registry=https://npm.remix.run

@mcansh:registry=https://registry.npmjs.org
